<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="header-class">
        <h1>Edit person</h1>
    </div>
    <div class="header-info" style="margin-bottom: 30px">
        <a href="/people"> Go back</a>
    </div>

    <form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="name">Name : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{name}" id="name"/>
        <br>

        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="email">Email : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{email}" id="email"/>
        <br>

        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="name">Link : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{link}" id="link"/>
        <br>


        <input type="submit" value="Update information">
    </form>
</body>
</html>