<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create new user</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header-class">
        <h1>Create new Person</h1>
    </div>
    <div class="header-info" style="margin-bottom: 30px">
        <a href="/people"> Go back</a>
    </div>
    <form th:method="post" th:action="@{/people}" th:object="${person}">
        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="name">Name : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{name}" id="name"/>
<!--        Валидация-->
        <div style="color: crimson" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</div>
        <br>

        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="email">Email : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{email}" id="email"/>
<!--        Валидация-->
        <div style="color: crimson" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
        <br>

        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="name">Link : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{link}" id="link"/>
<!--        Валидация-->
        <div style="color: crimson" th:if="${#fields.hasErrors('link')}" th:errors="*{link}">error</div>
        <br>

        <label style="color: aliceblue; font-size: 20px; margin: 20px" for="name">Address : </label>
        <input style="margin-bottom: 15px"type="text" th:field="*{address}" id="address"/>
        <!--        Валидация-->
        <div style="color: crimson" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">error</div>
        <br>

        <input type="submit" value="Add person">
    </form>
</body>
</html>