<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="header-class">
        <h1>User Info</h1>
    </div>
    <div class="header-info">
        <a th:href="@{/people/{id}/edit(id = ${person.getId()})}"> Edit person</a>
        <a href="/people"> Go back</a>
    </div>
    <p>ID : <span th:text="${person.getId()}"></span></p>
    <p>Name : <span th:text="${person.getName()}"></span></p>
    <p>Email : <span th:text="${person.getEmail()}"></span></p>
    <p>@Link : <span th:text="${person.getLink()}"></span></p>

    <form th:method="DELETE" th:action="@{/people/{id} (id = ${person.getId()})}" th:object="${person}">
        <input type="submit" value="Delete user">
    </form>
</body>
</html>