<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="header-info" style="margin-bottom: 30px">
    <a style="background-color: #fafafa;color: #000000; padding: 20px; border-radius: 15px; margin: 40px"
       href="/batch-page/with"> Добавить C BATCH Update (Пакетная вставка)</a>
<!--    <br>-->
    <a style="background-color: #fdfdfd;color: #000000; padding: 20px; border-radius: 15px; margin: 40px"
       href="/batch-page/without"> Добавить БЕЗ BATCH Update (х1000)</a>
</div>
</body>
</html>